  

.middlebar .logo{
    position: relative;
    height: 100px;
    width: 100px;
    float: left;
}



.middlebar .logo a img{
    height: 55px;
    width: 55px;
    margin: 21px 0;
}
.middlebar{
    position: relative;
}

.middle-navigation{
    float: left;
}

.middle-navigation li{
    float: left;
    font-size: 16px;
    height: 100px;
    line-height: 100px;
}

.middle-navigation li a{
    color: #333;
    padding: 0 10px;
}
.middle-navigation a:hover{
    color: rgb(255,106,0);
}


.search-wrapper{
    width: 296px;
    height: 50px;
    background-color: #bfa;
    float: right;

    margin-top: 25px;
}

.search-wrapper .search-inp{
    box-sizing: border-box;
    float: left;
    padding: 0;
    height: 50px;
    border: none;
    width: 244px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}

.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    border-color: #ff6700;
}


.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}


.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: white;
    border: none;
}




